# Exclude everything
/*

# Except .cpp, .h and config.ini files in the directories
!*/
*/*
!*/*.cpp
!*/*.h
!*/config.ini

# Remove bin and obj folders
*/bin/
*/obj/

# And the github files
!README.md
!LICENSE
